body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}
